<table >
        <thead>
        <tr>
            <th>#</th>
            <th>Дата изменения</th>
            <th>Автор</th>
            <th>Комментарий</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for revision_entry in revision_list %}
            <tr>
                <td> {{ revision_entry.id }}</td>
                <td> {{ revision_entry.date_created }}</td>
                <td> {{ revision_entry.user_string }}</td>
                <td class='revision-comment' title="{{ revision_entry.comment }}"> {{ revision_entry.comment|truncatechars:50  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>